@import '../../style/sass/mixin';
@import '../../style/sass/variables';


.navigate {
  @include flex(row, space-around, center, nowrap);
  margin-top: 10px;
  height: 64px;
  width: 100%;
  border: red solid 2px;
  background-color: $buttonColor;
}